.flash_Sale_Container::-webkit-scrollbar {
    height: 8px; /* Adjust the width as needed */
   
  }

  .flash_Sale_Container{
    height: 450px;
  }

  /* .flash_Sale_Container{
    width: 2000px;
  } */
  .flash_Sale_Container>div{
    width: 3050px;
    
  }
  @media screen and (max-width:1025px) {
    .flash_Sale_Container{
      height: 450px;
    } 
  }

  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color of the scrollbar handle */
/* Rounded corners of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; /* Color of the handle on hover */
 
  }
  
  /* Track on hover */
  ::-webkit-scrollbar-track:hover {
    background-color: white; /* Color of the track on hover */
   
  }
  
  /* Handle when dragging */
  ::-webkit-scrollbar-thumb:active {
    background-color: #000000; /* Color of the handle when dragging */
  
  }
  